name: Build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
    contents: read

jobs:
  gradlevalidation:
    name: "Validate Gradle Wrapper"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5

  validateSampleGradle:
    name: Validate gradle samples
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Build and verify Gradle sample projects
        run: |
          ./gradlew publishToMavenLocal
          cd examples/gradle
          for x in $(find . -maxdepth 1 -type d -not -name '.' -print); do
            (cd $x && ./gradlew -i create-rock)
          done

  validateSampleMaven:
    name: Validate maven samples
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Build and verify Maven sample projects
        run: |
          mvn install -B
          cd examples/maven
          for x in $(find . -maxdepth 1 -type d -not -name '.' -print); do
            (cd $x && mvn package -B)
          done

  build-maven:
    name: Test Maven
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Apache Maven Central
        uses: actions/setup-java@v5
        with: # running setup-java again overwrites the settings.xml
          distribution: 'temurin'
          java-version: '8'
          cache: maven

      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: 5.21/candidate

      - name: Setup rockcraft
        run: |
          rm -rf /home/runner/.local/state/rockcraft/log/*
          sudo snap remove rockcraft || true
          sudo snap install rockcraft --classic

      - name: Build and verify maven project
        run: |
          mvn -B install invoker:install invoker:run

  build-gradle:
    name: Test Gradle
    runs-on: ubuntu-latest
    # the matrix lists known test tags and untagged tests ( none() )
    strategy:
      matrix:
        test-tag: [ dependencies, buildRock, rock, springBoot, plugin, none() ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: gradle

      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: 5.21/candidate

      - name: Setup rockcraft
        run: |
          sudo snap install rockcraft --classic

      - name: Build and verify gradle project
        run: |
          ./gradlew clean build -i -PtestTags="${{ matrix.test-tag }}"

